@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> _userManager
@{
    if (!SignInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand">ProjectGram</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    }
    else
    {
        var currentUser = _userManager.Users.FirstOrDefault();
        var notifications = currentUser.Notifications;

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Actividad" class="navbar-brand">ProjectGram</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    </ul>

                    <div class="notificacion-btn dropdown" style="margin-top:1em;">
                        <a href="#" style="margin:0;padding:0;" class="navbar-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-bell"></i>
                            Notificaciones <span class="badge notification-flag badge-light"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            
                            <li><a href="#">Nuevo mensaje</a></li>
                        </ul>
                        <a asp-action="Logout" asp-controller="Account">Cerrar Sesión</a>
                    </div>

                </div>
            </div>
        </nav>
    }
}