
.perfil-container {
    display: flex;
    margin: 5em auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.foto {
    position:relative;
    width: 155px;
    height: 155px;
    
    margin-right: 5px;
    
}

    .foto #foto_perfil_actualizador {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
    }

#foto_perfil_loader {
    position:absolute;
    width:100px;
    height:100px;
    top:30px;
    left:30px;
}

.picture {
    width: 40em;
    height: 35em;
}

.picture img{
    width:100%;
    height:100%;
}

.perfil-miniatura {
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
}

.modal-informacion {
    display: flex;
    align-items: center;
}

    .modal-informacion h3 {
        margin-left: 3px;
        vertical-align: top;
    }

.notificacion-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hover {
    width:100%;
    height:100%;
    background-color: rgba(36, 44, 44, 0.3);
    z-index:1000;
}

.opciones_fotos{
    margin:0 auto;
    list-style:none;
    width:100%;
    padding:0;
}

.opciones_fotos li{
    color:#808080;
    border:1px solid #eee;
    padding:10px;
}

    .opciones_fotos li:hover {
        color: white;
        cursor: pointer;
        background-color: rgba(36, 44, 44, 0.3);
    }

.modal-grande {
    width: 90%;
    height:100%;
}

.modal-foto{
    width:60%;
    height:60%;
}

.datos{
    border:5px solid #4cff00;
}

.disableDeleteOption {
    pointer-events: none;
    opacity: 0.4;
}