@model ProjectGram.Models.UserViewModel
@{
    ViewData["Title"] = "Album";
}

<h2>Album</h2>

<div class="row">
    @Html.DisplayFor(x => x.Mensaje);
    <div class="col-lg-10 col-center">
        <form id="album_form" asp-action="CreateAlbum" asp-controller="Foto" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Descripcion: </label>
                    <input required asp-for="Foto.Descripcion"  type="text" class="form-control" id="nombre" placeholder="Ej. Mi Viaje a Paris">
                    <span asp-validation-for="Foto.Descripcion"></span>
                </div>
             
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Foto de Portada</label>
                    <input required name="formFile" type="file" multiple class="form-control" id="img">

                </div>


            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary btn-lg">Subir Foto</button>
                </div>
            </div>



        </form>
    </div>
</div>



