@model FotoViewerViewModel
@*

*@

<div class="row">
    @{
        if (Model.Fotos.Count() == 0)
        {
            <p>Ninguna foto</p>
        }
        else
        {
            foreach (Foto foto in Model.Fotos)
            {
                <div class="col-sm-4">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top hover foto-detail-viewer" name="@foto.Id" src="@foto.Ruta" />
                        <div class="card-body">
                            @{
                                if (foto.ApplicationUserId.Equals(Model.CurrentUser.Id))
                                {
                                    <button id="@foto.Id" type="button" class="btn btn-outline-danger borrarFoto"><i id="@foto.Id" class="glyphicon glyphicon-trash borrarFoto"></i></button>
                                    <button type="button" class="btn btn-outline-dark"><i class="glyphicon glyphicon-edit"></i></button>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }


    <div class="modal fade" id="fotoViewerDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-foto" role="document">
            <div class="modal-content" id="modal-picture-content">
                @*<div class="row">
                    <div class="col-sm-8 no-padding-right">
                        <div class="modal-body no-padding border-right">
                            <img class="picture full-size-picture" id="picture-modal" src="" />
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-left">
                        <div class="modal-body no-padding">
                            <div class="publicacion-style foto-viewer-user">
                                <div class="header border-bottom">
                                    <img class="user-img" id="user-img" src="" />
                                    <div class="username-container">
                                        <h3 class="username"><a id="nickname-foto"></a></h3>
                                    </div>
                                </div>

                                <ul id="comment-item-container" class="comment-item-wrapper">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@

                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>*@
            </div>
        </div>
    </div>
</div>

<script>
    $('body').loadingModal('hide');
</script>
