@model UserViewModel
@{
    ViewData["Title"] = "PruebaPartial";
}

<h2>PruebaPartial</h2>

<div class="row">
    <button class="btn btn-default" id="cargar_partial">Cargar...</button>
</div>
<div id="toLoad">

</div>

